ehthumbs.db
.DS_Store
tmp/logs/error.log
public_html/assets/css/themes/*
.DS_Store?
/public_html/assets/img/uploads/*
Thumbs.db
.Spotlight-V100
.Trashes
._*
.com.apple.timemachine.supported
config/main.config.php