.com.apple.timemachine.supported

.DS_Store
.DS_Store
.DS_Store?
._*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

config/main.config.php
tmp/logs/error.log
public_html/assets/css/themes/Sourjelly.less