.content{
	/* Positioning */
	z-index : 1;
	float:none; /* left/right */
	/******************
	position: absolute;
	position: fixed;
	position: relative;
	position: static;
	******************/
	top                  : 0;
	right                : 0;
	left                 : 0;
	bottom               : 0;
	
	/* Display & Box Model */
	display              : inline-block;
	overflow             : hidden;
	
	-webkit-box-sizing   : border-box;
	-moz-box-sizing      : border-box;
	box-sizing           : border-box;
	
	width                : 100%;
	height               : 100%;
	padding              : 10% 10% 10% 10%;
	margin               : 10% 10% 10% 10%;
	border-size          : 10% 10% 10% 10%;
	border-style         : dotted;	
	
	-webkit-border-radius: 4% 4% 4% 4%;
	-moz-border-radius   : 4% 4% 4% 4%;
	border-radius        : 4% 4% 4% 4%;
	
	
	/* Color */
	color                : rgba(51,51,51,1);
	border-color         : rgba(205,233,8,1);
	background-color     : rgba(205,233,8,1);
	
	/* fonts */
	font-family          : sans-serif;
	font-variant         : small-caps;
	font-weight          : bold;
	font-style           : italic;
	font-size            : 0.875em;

	/* Other */
	cursor: default;

}