.content{
	/* Positioning */
	position: absolute;
	z-index : 10;
	top     : 0;
	right   : 0;

	/* Display & Box Model */
	display           : inline-block;
	overflow          : hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
	width             : 100px;
	height            : 100px;
	padding           : 10px;
	border            : 10px;
	margin            : 10px;	

	/* Color */
	border-color    :rgba(205,233,8,1);
	background-color:rgba(205,233,8,1);
	color           : rgba(51,51,51,1);

	/* fonts */
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-style: italic;
	font-size: 6pt;

	/* Other */

}