table.tablesorter {
	font-size: 12px;
	background-color: #999999;
	width: 1024px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #CCCCCC;
}
table.tablesorter td {
	color: #FFF;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #EEEEEE;
}
table.tablesorter .odd {
	background-color: #CCCCCC;
}
table.tablesorter thead tr:not(:first-child) .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter thead tr:not(:first-child) .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter thead tr:not(:first-child) .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}