table.tablesorter {
	font-size: 12px;
	background-color: white;
	width: 1024px;
	border: 1px solid white;
	text-align: center;
}
table.tablesorter th {
	border-bottom: 1px solid #CCC
	text-align: left;
	padding: 5px;
	background-color: white;
}
table.tablesorter td {
	text-align: center;
	color: #292d2f;
	padding: 5px;
}

table.tablesorter td.tdtitle {
	text-align: left;
	color: #292d2f;
	padding: 5px;
}

table.tablesorter .even {
	background-color: white;
}
table.tablesorter .odd {
	background-color: white;
}
table.tablesorter thead tr:not(:first-child) .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid white;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter thead tr:not(:first-child) .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter thead tr:not(:first-child) .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}